@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<div class="about-us-container">
    <div class="about-us-text" style="background-image: url(../../wwwroot/files/photos/BackgroundCity.jpg)">
        <h1>Haqqımızda</h1>
        <p>
            “NAİS” MMC şirkəti olaraq 2019-cu ildən fəaliyyət göstəririk. Son beş ildə bir mətbəədən üstün olmaq üçün səy göstərir,
            yeni fikirlər və layihələr təqdim edirik. Çap məhsulları müstəvisində dünyadakı ən son trendləri və texnologiyaları izləyir,
            sizə təklif edirik. “NAİS” MMC şirkəti 5 illik təcrübəyə sahib olub, nəm salfet istehsalı ilə başlamışdır. 2020-ci ildə ofset
            çaplarının gələcəyini görərək, “NAİS” MMC şirkəti olaraq mətbəəyə yeni avadanlıqlar və yeni texnologiyalar gətirib, ofset çapında
            olan məhsullarımızı yüksək keyfiyyətlə müştərilərə təqdim edirik. Məhsullarımızı və xidmətlərimizi təqdim edərkən, ilk olaraq
            müştərilərimizin məmnuniyyətinə, məhsul və xidmət keyfiyyətinə diqqət göstərir, yüksək texnologiya ilə təchiz olunmuş avadanlıq
            parkı ilə dəyişimi, inkişafı və böyüməni daim diqqətdə saxlayırıq. İstehsal olunan hər bir məhsul, zəhmət, səbir və fədakarlıqla
            həyata keçirilmiş bir əməyin nəticəsidir. İşin həcmindən asılı olmayaraq, biz məhsullarımızın keyfiyyətinə zəmanət veririk.
        </p>
    </div>
    <div class="about-us-photo">
        <img src="/files/photos/metbee2.jpg" alt="About Us" class="img-fluid rounded">
        <img src="/files/photos/metbee.jpg" alt="About Us" class="img-fluid rounded">
    </div>
</div>
