@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<div class="container contact-us">
    <div class="row">
        <div class="col-md-8">
            <h1 class="dt-page-title">Ünvan</h1>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1518.8457624943424!2d49.90589447116753!3d40.41568399747562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDI0JzU2LjUiTiA0OcKwNTQnMjQuMCJF!5e0!3m2!1sru!2saz!4v1729248421632!5m2!1sru!2saz"
                        width="600"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="col-md-4 contact-info">
            <h3>Əlaqə vasitələri</h3>
            <p><strong>Telefon:</strong> +994(50)555-01-56 </p>
            <p><strong>Email:</strong> ofis@naismetbee.az </p>
            <p><strong>Ünvan:</strong> Heydər Əliyev, 106 </p>
        </div>
    </div>
</div>