@{
    ViewData["Title"] = "Naismetbee.az | çap işləri, kəsim, laminasiya, ofset çapı, perforasiya, qatlama və digər professional mətbəə xidmətləri təqdim edir.";
    Layout = "_Layout";
    var imagePaths = ViewBag.ImagePaths as List<string>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/commonstyle/site.css" />
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var imagePath in imagePaths)
            {
                <div class="swiper-slide">
                    <img src="~/files/photos/carousel/@imagePath" alt="Slide" />
                    <div class="caption">@System.IO.Path.GetFileNameWithoutExtension(imagePath)</div>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            effect: 'fade',
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            resizeObserver: true,
        });
    </script>
</body>
</html>
