@{
    ViewData["Title"] = "Main";
    Layout = "_Layout";
    var imagePaths = ViewBag.ImagePaths as List<string>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Описание вашего сайта">
    <meta name="keywords" content="ключевые, слова, для, сайта">
    <meta name="robots" content="index, follow">
    <title>Main - NAIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var imagePath in imagePaths)
            {
                <div class="swiper-slide">
                    <img src="~/files/photos/carousel/@imagePath" alt="Slide" />
                </div>
            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            effect: 'fade',
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            resizeObserver: true, // Добавлено для автоматического пересчета размеров
        });
    </script>
</body>
</html>
