@{
    ViewData["Title"] = "Partners";
    Layout = "_Layout";
    var imagePaths = ViewBag.ImagePaths as List<string>;
}

<div class="partner-container">
    <h1>Partnyorlarımız</h1>
    <div class="partner-divider"></div>
    <div class="partner-grid">
        @foreach (var imagePath in imagePaths)
        {
            <div class="partner-card">
                <img src="~/files/photos/partners/@imagePath" alt="Partner Logo" class="partner-image" />
                <div class="caption">Partner: @imagePath</div>
            </div>
        }
    </div>
</div>