@{
    ViewData["Title"] = "Services";
    Layout = "_Layout";
}

@model List<ServicesJsonModel>

<div class="ag-format-container">
    <h1 class="page-title">Xidmətlərimiz</h1>
    <div class="service-divider"></div>
    <div class="ag-courses_box">
        @foreach (var service in Model)
        {
            <div class="ag-courses_item">
                <a class="ag-courses-item_link"
                   data-img="@Url.Content("~/files/photos/services/details/" + service.Image)"
                   data-title="@service.Name"
                   data-content="@Html.Raw(service.Content)"
                   onclick="openModalWithContent(this)">
                    <div class="ag-courses-item_bg"></div>
                    <img src="~/files/photos/services/@service.Image" alt="Service Image" class="service-image" />
                    <h3 class="ag-courses-item_title">@service.Name</h3>
                </a>
            </div>
        }
    </div>
</div>
<!-- Modal Window -->
<div id="modal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="service-modal-content">
        <div class="modal-left">
            <img class="service-modal-img" id="modal-img" src="" alt="Modal Image">
        </div>
        <div class="modal-right">
            <h3 id="modal-title"></h3>
            <div class="service-modal-text" id="modal-text"></div>
        </div>
    </div>
</div>