@{
    ViewData["Title"] = "Services";
    Layout = "_Layout";
    var imageData = ViewBag.ImageData as List<NAIS_Website.Controllers.FileModel>;
}

<div class="services-container">
    <h1 class="page-title">Xidmətlərimiz</h1>
    <div class="services-grid">
        @foreach (var image in imageData)
        {
            <div class="service-card">
                <img src="~/files/photos/services/@image.FileName" alt="Service Image" class="partner-image" />
                <div class="service-info">
                    <h3 class="service-title">@image.FileNameWithoutExtension</h3>
                    <p class="service-description">Short description of this service.</p>
                    <a href="/Services/Detail/1" class="service-link">Learn More</a>
                </div>
            </div>
        }
    </div>
</div>

