.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url('/files/photos/BackgroundCity.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.about-us-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    max-width: 45%;
    text-align: left;
}

    .about-us-text h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 20px;
    }

    .about-us-text p {
        font-size: 1.2rem;
        color: #463460;
        line-height: 1.6;
    }

.about-us-photo {
    max-width: 45%;
}

    .about-us-photo img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
    }

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .about-us-container {
        flex-direction: column;
        padding: 10px;
    }

    .about-us-text, .about-us-photo {
        max-width: 100%;
        margin-bottom: 20px;
    }

        .about-us-text h1 {
            font-size: 2rem;
        }

        .about-us-text p {
            font-size: 1rem;
        }
}
