@model Catalog

@{
    Layout = "_PanelLayout";
    ViewBag.Title = "Create Catalog";
}

<div class="createContainer">
    <div class="createContainerCard">
        <h1 class="createPageTitle">Əlavə et</h1>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.Error</div>
        }
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">Ad:</label>
                <input asp-for="Name" class="form-control" style="max-width: 100%;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Category" class="form-label">Kateqoriya:</label>
                <select asp-for="Category" class="form-control" style="max-width: 100%;">
                    <option value="">Kateqoriya seçin</option>
                    @foreach (var category in ViewBag.Categories as List<CatalogCategory>)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Note" class="form-label">Qeyd:</label>
                <textarea asp-for="Note" class="form-control" rows="3" maxlength="250" style="max-width: 100%;"></textarea>
            </div>

           <div class="form-group mb-3">
                <label class="form-label">Şəkil yüklə:</label>
                <input type="file" name="imageFile" class="form-control" style="max-width: 100%;" />
                @if (ViewBag.ImageFileError != null)
                {
                    <span class="text-danger">@ViewBag.ImageFileError</span>
                }
            </div>

            <button type="submit" class="btn btn-primary">Yadda saxla</button>
        </form>

        <a asp-action="Index" class="btn btn-secondary mt-3">Ana səhifə</a>
    </div>
</div>
