@model CatalogCategory

@{
    Layout = "_PanelLayout";
    ViewBag.Title = "Create Catalog Categories";
}

<div class="createContainer">
    <div class="createContainerCard">
        <h1 class="createPageTitle">Əlavə et</h1>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.Error</div>
        }
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">Kateqoriya adı:</label>
                <input asp-for="Name" class="form-control" style="max-width: 100%;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Note" class="form-label">Qeyd:</label>
                <textarea asp-for="Note" class="form-control" rows="3" maxlength="250" style="max-width: 100%;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Yadda saxla</button>
        </form>

        <a asp-action="Index" class="btn btn-secondary mt-3">Ana səhifə</a>
    </div>
</div>