@{
    Layout = "_PanelLayout";
    ViewBag.Title = "Panel";
}

<div class="container">
    <h1>Admin Panel</h1>
    <a href="@Url.Action("GetAll", "Catalog")" class="btn">Kataloq</a>
    <a href="@Url.Action("Index", "CatalogCategory")" class="btn">Kataloq kateqoriyaları</a>
    <a href="#" class="btn">Vakansiya</a>
</div>
