<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - NAIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-3 sidebar">
                <div class="logo">
                    <img src="~/files/photos/logo.png" alt="NAIS Logo" />
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Ana Səhifə</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Əlaqə</a></li>
                        <li><a href="#">Xidmətlər</a></li>
                        <li><a href="#">Hesablama</a></li>
                        <li><a href="#">Partnyorlar</a></li>
                        <li><a href="#">Haqqımızda</a></li>
                        <li><a href="#">Kateqoriyalar</a></li>
                    </ul>
                </nav>
                <div class="social-media">
                    <a href="#"><img src="~/files/photos/Facebook_logo.png" alt="Facebook" /></a>
                    <a href="#"><img src="~/files/photos/Instagram_logo.png" alt="Instagram" /></a>
                </div>
                <div class="languages">
                    <a href="#">AZ</a>
                    <a href="#">EN</a>
                    <a href="#">RU</a>
                </div>
                <div class="footer">
                    <p>Sayt hazırlanması Fafoo © 2024</p>
                </div>
            </div>
            <div class="col-md-9 content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            effect: 'fade',
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });
    </script>
</body>
</html>
