<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/commonstyle/table.css" />
    <link rel="stylesheet" href="~/css/commonstyle/pagination.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminstyle/login.css" />
    <link rel="stylesheet" href="~/css/adminstyle/panel.css" />
    <link rel="stylesheet" href="~/css/adminstyle/commonIndexStyle.css" />
    <link rel="stylesheet" href="~/css/adminstyle/catalogCategoryEditPage.css" />
    <link rel="stylesheet" href="~/css/adminstyle/catalogIndex.css" />
</head>
<body style="background-image: url('/files/photos/panel-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;">
    @RenderBody()
</body>
</html>