<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/secondLayout.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/panel.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/catalogCategoryIndex.css" />
    <link rel="stylesheet" href="~/css/catalogCategoryEditPage.css" />
</head>
<body>
    @RenderBody()
</body>
</html>